@import 'normalize'
@import 'vars'
@import 'fonts'
// @import 'common'


html
	width: 100%
	height: 100%
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

*,
*::before,
*::after
	-webkit-box-sizing: inherit 
	-moz-box-sizing: inherit 
	box-sizing: inherit 
	
body
	font-family: 'HkgroteskLight', sans-serif
	font-size: 16px
	line-height: auto  
	background-color: $main 
	
.wrapper
	width: 1164px
	height: 100% 
	text-align: center
	margin: 0 auto

// Titles
.item-title
	font-family: "leaguespartan", sans-serif
	font-size: 48px
	color: #FFF
	text-transform: uppercase 
	
.title--big
	font-size: 80px  

.header
	display: flex
	-webkit-flex-direction: row
	-ms-flex-direction: row
	flex-direction: row
	-webkit-justify-content: space-between 
	justify-content: space-between 
	
	padding-top: 65px
	margin-bottom: 50px
	
// Search
.serch__input
	position: relative 
	width: 176px
	padding-left: 34px
	padding-right: 34px
	padding-bottom: 12px 
	background-color: $main
	color: $text-color
	outline: none
	font-size: 24px
	border-top: none
	border-left: none
	border-right: none
	border-bottom: 3px solid $text-color
	
	::-webkit-input-placeholder
		color: $text-color
		
	::-moz-placeholder 
		color: $text-color
		
	:-moz-placeholder
		 color: $text-color
		 
	:-ms-input-placeholder
		color: $text-color
	
	 
.search__label
	&:before
		content: ""
		display: block
		position: absolute
		top: 70px
		left: 1085px
		width: 22px
		height: 22px
		z-index: 2
		background: url("/img/search.svg") no-repeat center  
		
// Grid-box
.grid-box
	display: flex
	-webkit-flex-direction: row 
	-ms-flex-direction: row 
	flex-direction: row
	flex-wrap: wrap
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

.grid-box__item
	background-color: #f6f6f6 
		
	&:nth-child(1)
		width: 100%
		min-height: 690px
		margin-bottom: 40px
		
	&:nth-child(2)
		width: 560px
		min-height: 690px
		margin-right: 40px
		margin-bottom: 40px

	&:nth-child(3)
		width: 540px
		margin-bottom: 40px
		
	&:nth-child(4)
		width: 360px
		min-height: 440px
		margin-right: 40px
	
	&:nth-child(5)
		width: 360px
		min-height: 440px
		margin-right: 40px

	&:nth-child(6)
		width: 360px
		min-height: 440px



	

	
